<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/styles/all.css" />
    <title>豆瓣FM</title>
</head>

<body>
<div class="app">
    <div class="container" th:include="::content">首屏播放器</div>
    <footer>
        <div>© 2020 douban <a href="#" title="京ICP备11027288号">京ICP备11027288号</a>&nbsp;网络视听许可证0110418号&nbsp;京公网安备110105012274&nbsp;<a href="#" title="新出发京批字第直150126号">新出发京批字第直150126号</a></div>
        <div>违法和不良信息举报 电话：17610209667 邮箱：doubannvgroup.cn</div>
        <div class="ad">广告合作：adfm@douban.com
            <a href="#">FM用户手册</a>
            <a href="#">新版说明</a>
            <a href="#">我要反馈</a>
            <a href="#">豆瓣FM中心</a>
        </div>
    </footer>
</div>
</body>

</html>