<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout">

<div th:fragment="content">

    <div class="star-tour-container">
        <div class="top">
            <div class="top-search">
                <div class="search">
                    <input type="text" placeholder="搜索你喜欢的歌曲" />
                </div>
                <div class="confirm">取消</div>
            </div>
            <div class="top-list">
                <ul class="artists-list">
                    <li v-for="(artist,index) in artists" :key="index">
                        <div class="icon" style="'background:url('+artist.icon+') no-repeat center;background-size: contain;'"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

</html>